@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  font-size: 10px;
  margin: 3rem;
}

html {
  font-family:'Arvo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box; /* para obligar al navegador que use el modelo de cajas alternativo donde, al ancho y al alto de la caja NO hay que sumar padding, margin, border*/
}

header { 
  text-align: center;
}
article { 
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: #a33125;
  margin-top: 4rem;
  font-size: 1rem;
}
article figcaption {
  font-size: .75rem;
  text-align: center;
  margin-bottom: 5rem;
}
article p {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
  text-align: left;
}
.relatedLinks{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.detail {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
img {
  width: 100%;
  height: auto;
}
footer { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  border: 1px solid #000;
  text-align: center;
  background-color: #c0be9e;
  color: #ffffff;
  padding:4rem;
  font-size: 2rem;
}

h1 {
    font-size: 4rem;
    color: #f3ab63;
    font-family: cursive;
  }
h2 {
  font-size: 3rem;
  text-shadow: 0 0 3px #c8b080, 0 0 2px #ebc286;
}
h3 {
  font-size: 1.5rem;
  text-shadow: 0 0 3px #c8b080, 0 0 2px #ebc286;
  margin-bottom: 1rem;
}
a {
  color: #fab804;
  text-decoration-thickness: 3px;
  text-decoration-color: #a33125;
}
.otras-paginas-relacionadas {
  margin-bottom: 1rem;
}
.hoverIn {
  background-color: #ffb47e;
  color: #fff!important;
  text-decoration-color: #fff;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.hoverOut {
  background-color: #fff;
  color: #000!important;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
article.detail ol {
  list-style-type:upper-roman;
}
ol {
  list-style-position: outside;
  padding-left: 2rem;
  padding-right: 2rem;
}
ol li {
  background-color: #e9e2d8;
  color: black;
  padding: 1rem;
  margin-bottom: 1rem;
  border: #a33125 1px solid;
  border-radius: 5px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 2em;
}

 @media only screen and (max-width: 800px) {

  body {
  background: linear-gradient(to bottom, #f7f5ef, #f3eac9);
  margin: 1rem;
  font-size: 2rem;
  }
  article { grid-template-columns: repeat(1, 1fr); }
  article p { margin-left:0;margin-right:0;margin-bottom: 4rem; }
  article figcaption { font-size: .5rem; margin-bottom: 3rem;  }
  ol { padding-left: 0; padding-right: 0; }
  footer { grid-template-columns: repeat(1, 1fr); gap: 0; padding: 1rem; }
  .relatedLinks{ grid-template-columns: repeat(1, 1fr); }
}