@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&family=Roboto:wght@300&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font-size: 100%;
 vertical-align: baseline;
 background: transparent;
}

body { font-size: 10px; height: 100%; margin-left: .5rem; margin-right: .5rem; background: linear-gradient(90deg, #f3a961 0%, #f9edcb 35%, #bfd1d9 100%);}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}

html {
  height: 100%;
  font-family:'Roboto Serif','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box; 
}
h1 {
  font-size: 3rem;
  color: #f3ab63;
  font-family: 'Roboto Serif';
  margin-bottom: .5rem;
}
h2 {
font-size: 2rem;
font-family: 'Roboto Serif';
text-shadow: 0 0 3px #c8b080, 0 0 10px #ebc286;
margin-bottom: .5rem;
margin-left: 1rem;
}
h3 {
font-size: 1.5rem;
font-family: 'Roboto Serif';
text-shadow: 0 0 3px #c8b080, 0 0 10px #ebc286;
margin-bottom: .5rem;
margin-left: 1.5rem;
}
a {
color: #a33125;
text-decoration-thickness: 3px;
text-decoration-color: #a33125;
}
header {
  display: grid; 
  grid-template-columns: 20% 80%;
  text-align: left;
}
header img {
  width: 25%;
}
header img:hover, footer img:hover {
  transform: rotate(-20deg) scale(1.25, 1.25);
  cursor: pointer;
}
header > div {
  text-align: center;
  padding: 20px 0;

}
article { 
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: #a33125;
  /* margin-top: 4rem; */
  margin-bottom: 1rem;
  font-family: Roboto;
  font-size: 1rem;
  min-height: 100%;
}
article figcaption {
  font-size: .65rem;
  text-align: center;
  margin-top: .5rem;
  margin-bottom: 5rem;
  white-space: pre-line;
}
.clip-path-jules-verne {
 
 clip-path: circle(50%);
}
.clip-path-jules-verne:hover {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
article p {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
  text-align: left;
}
.images{
  width: 100%;
  height: auto;
}
#otras-paginas-relacionadas{
  grid-column: 1 / span 6;
}
.img_full_column {
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
}
.horizontal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer { 
  display: grid;
  grid-template-columns: 30% 35% 35%;
  border: 1px solid #000;
  text-align: left;
  background-color: #c0be9e;
  color: #ffffff;
  font-size: 1rem;
  min-height: 2.25rem;
}
footer img {
  width: 15%;
}
footer ul {
  padding-left: 3rem;
  list-style: none;
  line-height: 1.5rem;
  color: rgb(70, 104, 104);
}
.footer-left {
  transform: translate(23px, 23px) rotate(0deg);
}
.footer-middle, .footer-right {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.otras-paginas-relacionadas {
  margin-bottom: 1rem;
}
.hoverIn {
  background-color: #ffb47e;
  color: #fff!important;
  text-decoration-color: #fff;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.hoverOut {
  background-color: #f6ecc8;
  color: #000!important;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  text-decoration-color: #000;
}
article.detail ol {
  list-style-type:upper-roman;
}
ol {
  list-style-position: outside;
  padding-left: 2rem;
  padding-right: 2rem;
  animation-duration: 2s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-top: 30%;
    width: 85%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}
ol li {
  background-color: #e9e2d8;
  color: black;
  padding: 1rem;
  margin-bottom: 1rem;
  border: #a33125 1px solid;
  border-radius: 5px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 2em;
}

 @media only screen and (max-width: 800px) {

  body { background: linear-gradient(90deg, #f3a961 0%, #f9edcb 35%, #bfd1d9 100%); margin: 0; font-size: 20px; }
  h1 { font-size: 2rem; white-space: pre-line; }
  h3 { text-align: left; margin-left: 0.5rem; font-size: 1rem;}
  header { grid-template-columns: repeat(1, 1fr); }
  header div { padding: 0; }
  header h1 { text-align: center; }
  article { grid-template-columns:repeat(1, 1fr); margin-top: 1rem;}
  article p { margin-left:0.5rem; margin-right:0.5rem; margin-bottom:2rem; }
  article figcaption { font-size: .75rem; margin-bottom: 1rem; }
  ol { padding-left: 0; padding-right: 0; max-width: 100%; white-space: pre-line;}
  #otras-paginas-relacionadas { grid-column: 1 / span 1; white-space: pre-line; }
  footer { margin-top:1rem; grid-template-columns: repeat(1, 1fr); gap: 0; padding: 2rem; border: 0 none;}
  footer ul { padding-left: 0;}
  .footer-left { transform: translate(0,10px); }
  .footer-right { transform: translateY( 1rem ); text-align: center; margin-bottom: 1rem;}
  .horizontal{ grid-template-columns: repeat(1, 1fr); }
}

@keyframes zoomInOut {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  50% {
    transform: scale(0.5);
    opacity: .50;
  }

  100% {
    transform: scale(1.0);
  }
}
.newsletterBanner {
  animation:  zoomInOut 2s ease-in-out 3s 2;
  margin-left: 0;
  white-space: pre-line;
}