@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300;700&display=swap');

*{
    box-sizing: border-box;
    font-size: 10px;
    font-family:Kreon, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    'header header header'
    'main main main '
    'footer footer footer';
  gap: 2rem;
  padding: 1rem;
  color: #1f1f1f;
  background: linear-gradient(to bottom, #c0bfa0, #f3edbd);
}

header { 
  grid-area: header; 
  text-align: center;
}
article { grid-area: main; }
footer { 
  grid-area: footer; 
  font-size: 2rem;
  text-align: center;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {body {
  background-color: rgb(240, 100, 6);
  font-size: 2rem;
}}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {body {
  background-color: rgb(44, 223, 20);
  font-size: 2.5rem;

}}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {body {
  background-color: rgb(61, 15, 228);
  font-size: 3rem;

}}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {body {
  background-color: rgb(96, 97, 97);
  font-size: 3.5rem;

}}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {body {
  background-color: rgb(230, 173, 211);
  font-size: 4rem;

}} 

h1 {
    font-size: 4rem;
    color: #f3ab63;
    font-family: cursive;
  }

h2 {
  font-size: 2rem;
  text-shadow: 0 0 3px #c8b080, 0 0 2px #ebc286;
}

figcaption {
  white-space: pre;
  font-size: 1;
}

article p {
  font-size: 2rem;
  text-align: left;
}

a {
  text-decoration: none;
  transition: transform 1s;
}
a:hover {
  background-color: #ffb47e;
  color: #fff;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
ol {
  font-size: 1rem;
}